@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

%shortPieces {
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

%tallPieces {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

html {
    font-family: 'Spartan';
    background-color: #fafafa;
}

html p {
    font-size: 1vw;
}

html h1 {
    font-size: 7vh;
}

header {
    text-align: center;
}

main {
    text-align: center;
}

.gameSpace {
    background-color: #6495ed;
    display: inline-block;
}

.wrap {
    display: inline-flex;
    padding: 2rem;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.dice i {
    color: #000000;
    font-size: 5vw;
}

.play {
    font-size: 2vw;
    padding: 2rem 0px 0px 0px;
}

.dice i:hover, .play:hover {
    color: #2f4f4f;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #2f4f4f;
    font-size: 2vw;
}

.players .active {
    color: #000000;
    transform: scale(1.2);
}

.waitingPieces {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0px 2rem 0px 0px;
    padding: 0px;
    background-color: #d3d3d3;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0px;
    padding: 0px;
}

.waitBox, .boardBox {
    height: 7vw;
    width: 7vw;
}

.darker {
    background-color: #778899;
}

.lighter {
    background-color: #d3d3d3;
}

.darker:hover, .lighter:hover, .squareWait:hover {
    background-color: #b0c4de;
}

.hide {
    display: none;
}

.selected {
    background-color: #b0c4de;
}

//tall "giant" Pieces
.sbgh {
    background-image: url("../img/squareBlackHole.png");
    @extend %tallPieces;
}

.sbgf {
    background-image: url("../img/squareBlackFlat.png");
    @extend %tallPieces;    
}

.swgh {
    background-image: url("../img/squareWhiteHole.png");
    @extend %tallPieces;
}

.swgf {
    background-image: url("../img/squareWhiteFlat.png");
    @extend %tallPieces;
}

.rbgh {
    background-image: url("../img/roundBlackHole.png");
    @extend %tallPieces;
}

.rbgf {
    background-image: url("../img/roundBlackFlat.png");
    @extend %tallPieces;
}

.rwgh {
    background-image: url("../img/roundWhiteHole.png");
    @extend %tallPieces;
}

.rwgf {
    background-image: url("../img/roundWhiteFlat.png");
    @extend %tallPieces;
}

//short "dwarf" Pieces
.sbdh {
    background-image: url("../img/squareBlackHole.png");
    @extend %shortPieces;
}

.sbdf {
    background-image: url("../img/squareBlackFlat.png");
    @extend %shortPieces;    
}

.swdh {
    background-image: url("../img/squareWhiteHole.png");
    @extend %shortPieces;
}

.swdf {
    background-image: url("../img/squareWhiteFlat.png");
    @extend %shortPieces;
}

.rbdh {
    background-image: url("../img/roundBlackHole.png");
    @extend %shortPieces;
}

.rbdf {
    background-image: url("../img/roundBlackFlat.png");
    @extend %shortPieces;
}

.rwdh {
    background-image: url("../img/roundWhiteHole.png");
    @extend %shortPieces;
}

.rwdf {
    background-image: url("../img/roundWhiteFlat.png");
    @extend %shortPieces;
}

.tools i {
    padding: 1rem 0.3rem;
    font-size: 2vw;
}

@media (max-width: 848px) {
    .wrap {
        display: flex;
        flex-direction: column;
        padding: 1rem 0px;
    }

    .waitingPieces {
        margin: 1rem 0px;
    }
}

@media (max-width: 650px) {
    .wrap {
        padding: 1rem 0px;
        width: 60vh;
        height: auto;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px 2rem;
    }

    html p {
        font-size: 3vw;
    }
    
    html h1 {
        font-size: 5vh;
    }

    .waitBox, .boardBox {
        height: 15vh;
        width: 15vh;
    }

    .players {
        font-size: 5vh;
    }

    .play {
        font-size: 8vh;
    }

    .dice i {
        font-size: 15vh;
    }

    .tools i {
        font-size: 4vw;
    }
}